#chat-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: calc(100% - 120px); 
  margin: 0 60px;
}

#chat-img {
  width: 400px;
  max-width: 40%; 
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

#chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#chat-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#user-input {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 80%;
}

#send-btn {
  padding: 8px 12px;
  border: none;
  background: var(--azul);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  width: 18%;
}


#chat-container {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 16px;
    background: #f9f9f9;
}
#chat-box {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 12px;
}

.user-msg {
    background: #9db3fd;
    color: #000;
    padding: 8px 12px;
    border-radius: 12px;
    max-width: 60%;
    align-self: flex-end;
    word-wrap: break-word;
}

.bot-msg {
    position: relative;
    background: hsl(54, 100%, 81%);
    color: #000;
    padding: 8px 12px;
    border-radius: 12px;
    max-width: 60%;
    align-self: flex-start;
    word-wrap: break-word;
    margin-left: 20px;
}

.bot-msg::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 10px solid hsl(54, 100%, 81%);
}


#user-input {
    width: 90%;
    padding: 8px;
}
#send-btn {
    width: 18%;
    padding: 8px;
}

.bot-msg.loading {
    background: hsl(54, 100%, 90%); 
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    max-width: 60%;
    border-radius: 12px;
    margin-left: 20px;
}

.bot-msg.loading img {
    width: 100px;
    height: auto;
}