.filters {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.evntosinfo-btn {
    padding: 10px 20px;
    border: 2px solid var(--azul);
    background-color: var(--blanco);
    color: var(--azul);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.evntosinfo-btn:hover,
.filter-btn.active {
    background-color: var(--azul);
    color: var(--blanco);
}

.filter-btn {
    padding: 10px 20px;
    border: 2px solid var(--amarillo);
    background-color: var(--blanco);
    color: var(--amarillo);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-btn:hover,
.filter-btn.active {
    background-color: var(--amarillo);
    color: var(--blanco);
}

.event-item {
    transition: all 0.3s ease;
}

.event-item.hidden {
    display: none;
}

.event-category {
    display: inline-block;
    padding: 4px 8px;
    background-color: #f8f9fa;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-left: 20px;
    color: var(--negro);
}

.text_box {
    background-color: rgb(248, 248, 248);
}

.main-eventos {
    margin: 25px;
    text-align: center;
}

.main-eventos h1 {
    background-color: var(--amarillo);
    border-radius: 10px;
    display: inline-block;
    font-size: 30px;
    color: var(--blanco);
    padding: 5px 40px;
}

.main-eventos h2 {
    background-color: var(--indigo);
    border-radius: 10px;
    display: inline-block;
    font-size: 30px;
    color: var(--blanco);
    padding: 5px 40px;
}

.main-eventos .text_box {
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.main-eventos .text_box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.main-eventos .text_box_inner {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: row-reverse;
}

.main-eventos .text_box_img img {
    height: 210px;
}

.main-eventos .text_box_content {
    text-align: left;
    flex: 1;
}

.extra-cont {
    max-height: 0;
    transition: max-height 0.3s ease, opacity 0.25s ease;
    overflow: hidden;
}

.extra-cont.open {
    max-height: 500px;
}

.evntosinfo-btn {
    background: var(--azul);
    color: var(--blanco);
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.hidden {
    display: none !important;
}

.d-none {
    display: none !important;
}

.extra-cont:not(.d-none) {
    max-height: 1000px;
    opacity: 1;
}

.extra-cont.d-none {
    max-height: 0;
    opacity: 0;
}

#contenedorImagenActual {
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.img-preview-evento {
    max-width: 400px;
    height: auto;
    border-radius: 12px;
    border: 5px dashed var(--amarillo);
}