.card:hover {
    transform: scale(1.01);
    transition: 0.2s;
}

.badge-estudiante {
    background-color: #28a745;
}

.badge-docente {
    background-color: #007bff;
}

.badge-adscripta {
    background-color: #6f42c1;
}

.mrg-top {
    margin-top: 80px;
}

.main-content {
    margin-top: 80px;
}