.main-login {
    padding-top: 7rem;
}

.container-principal {
    display: flex;
    min-height: 14vh;
    gap: 2rem;
    padding: 1rem;
}

.aside-materias {
    width: 25%;
    min-width: 250px;
    border-radius: 8px;
    padding: 1.5rem;
}

.lista-asign-container {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid var(--azuloscuro);
    border-radius: 4px;
    padding: 0.5rem;
    background-color: white;
}

.lista-asign-container::-webkit-scrollbar {
    width: 8px;
}

.lista-asign-container::-webkit-scrollbar-track {
    background: var(--indigo);
    border-radius: 4px;
}

.lista-asign-container::-webkit-scrollbar-thumb {
    background: var(--azul);
    border-radius: 4px;
}

.section-formulario {
    flex: 1;
    padding: 1rem;
    padding-bottom: .1875rem;
}

h3 {
    padding-top: 5px;
}

@media (max-width: 768px) {
    .container-principal {
        flex-direction: column;
        padding: 0.5rem;
    }
    
    .aside-materias {
        width: 100%;
        min-width: auto;
    }
    
    .lista-asign-container {
        max-height: 300px;
    }
}