.main-reservas {
    margin: 25px;
    text-align: center;
}

h1 {
    background-color: var(--amarillo);
    border-radius: 10px;
    display: inline-block;
    font-size: 30px;
    color: var(--blanco);
    padding: 5px 40px;
}

.text_box {
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
}

.text_box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.text_box h2 {
    font-size: 20px;
    padding: 10px 10px;
    text-transform: none;
}

.filters {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.filters h3 {
    cursor: pointer;
    padding: 5px 15px;
    background-color: var(--amarilloclaro);
    color: var(--negro);
    border-radius: 10px;
    transition: background 0.3s, transform 0.2s;
    user-select: none;
}

.text_box_inner {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-direction: row-reverse;
}

.text_box_img img {
    height: 210px;
    border-radius: 5px;
}

.text_box_content {
    text-align: left;
    flex: 1;
}

button {
    margin-top: 10px;
    padding: 8px 20px;
    border: none;
    background-color: var(--amarillo);
    color: var(--blanco);
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: var(--amarilloclaro);
}
